

.envipubli {
    display: inline-flex;
}

.enviarr {
    margin-left: 20px;
}

.card1 {
    margin-left: 10px;
    margin-right: 10px;
}

.coment1 {
    margin-left: 25px;
}

.save1 {
    margin-left: 35px;
}

.card2 {
    margin-left: 10px;
    margin-right: 10px;
}

.coment2 {
    margin-left: 25px;
}

.save2 {
    margin-left: 35px;
}

.card3 {
    margin-left: 10px;
    margin-right: 10px;
}

.coment3 {
    margin-left: 25px;
}

.save3 {
    margin-left: 35px;
}

.cortesa {
    text-align: center;
}

/*.foca{
    text-align: center;
    margin: 5em;
    width: 15em;
    height: 2em;
}*/

.paloma{
    text-align: center;
    margin: 1em;
}

.campo{
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    color: cornsilk;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}
.hola{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.casa{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.carro{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.mapa{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.topa{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.nino{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.dropdown{
    display: inline-block !important;
}

h2{
    text-align: center;
}

.manzana {
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.cara{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.cabeza{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.ojos {
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.naris{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.salsa{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}

.dropdown{
    display: inline-block !important;
}

.sasi{
    width: 15em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.cdfr{
    background-color: rgb(54, 197, 54);
    padding: 10px;
    font-size: 20px;
    color: cornsilk;
}

.abcd{
    background-color: rgb(54, 197, 54);;
}

.form-control{
    margin-right: auto;
    margin-left: auto;
}

.cando{
    width: 15em;
    margin-right: auto;
    margin-left: auto;
}

.partuno{
    background-color: rgb(92, 224, 92);
}

.copila1{
background-color:  rgb(79, 219, 165);
}

.copila2{
    background-color:  rgb(79, 219, 165);
}

.copila3{
    background-color:  rgb(79, 219, 165);
}


.copila4{
    background-color:  rgb(79, 219, 165);
}

.copila5{
    background-color:  rgb(79, 219, 165);
}

.fala{
    margin-left: 8px;
    font-size: 18px;
}

#date {
    margin-left: 5px;
}

.turcon{
    width: 16em;
}

.zaza{
    width: 18em;
}

.foro {
    margin-left: 0px;
}

.tapara{
    width: 12em;
}


.navyo {
    display: flex;
    background-color: rgb(29, 236, 115);    
}

.yofond {
    background-color: rgb(179, 228, 179) !important;    
}

.yopost {
    font-size: 25px;
    margin-left: 50px;
}

.textpostcoment {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 19px;
}

.labelsForm {
    display: inline-flex;
}

.estadoForm {
    margin-right: 20px;
}

.cuidadoForm {
    margin-right: 70px;
}

.climaForm {
    margin-right: 20px;
}


.yoinform {
    font-size: 25px;
    margin-left: 70px;
}


.cardpost {
    border-radius: 30px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.noche{
    background-color: rgb(73, 194, 73);
}

.el{
    width: 7em;
}

.card-title{
    margin-left: 0px;
    font-size: 20px;
}
    
.label1 {
    margin-left: 8px;
}

.label2 {
    margin-left: 60px;
}

.label3 {
    margin-left: 10px;
}

.label4 {
    margin-left: 60px;
}

.horas {
    margin-left: 5px;
}

.iconalarm {
    margin-left: 4px;
}

.botones3 {
    display: flex !important;
    margin-top: 4%;
}

.bootncitovo {
    display: inline-block !important;
    margin-left: 30px;
}

.margemv {
    display: inline-block !important;
}

.activ5 {
    margin-left: 10px;
}

.bootncitovoelim {
    margin-left: 5px;
}

.activ52 {
    margin-left: 10px;
}

.bootncitovo2 {
    margin-left: 30px;
}

.bootncitovoelim2 {
    margin-left: 5px;
}

.btnes {
    margin-left: 70px;
}

.btnes2 {
    margin-left: 250px;
}

.hace {
    margin-left: 5px;
}


.ioo {
    text-align: right;
}

.yonom {
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 63px;
    margin-top: 20px;
}

.mas {
    display: flex;

}

.yosvg {
    margin-left: 10px;
    margin-top: 10px;
}

.textmas {
    font-size: 20px;
    margin-left: 8px;
}

.hrr {
    color: white;
}

.textubica {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 5px;

}

.textcumple {
    font-size: 20px;
    margin-left: 5px;   
    margin-top: 30px;
}

.iconubica {
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.iconcumple {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 13px;
}

.notificacion {
    margin-left: 5px;
}

.lenguaje {
    margin-left: 5px;
}

.seguridad {
    margin-left: 5px;
}

.titleprogress {
    font-size: 30px;
}

.iconimage {
    margin-left: 270px;
}

.nom {
    margin-left: 5px;
}

.navpa {
    margin-left: 5px;
    margin-top: 3px;
}

.ticon {
    margin-left: 125px;
}

.timis {
    margin-left: 113px;
}